.shelina{
    display: grid;
    grid-template-columns:repeat(7 , 1fr);
    grid-template-rows: 30px repeat(5 , 75px);
    row-gap: 20px;
    column-gap: 30px;

}
.fatu-2   {
    background-color : lightgray;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}
.fatu-1{
    background-color:greenyellow;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
}

.day {background-color: rgb(92, 8, 8);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}

.fatu{
    background-color:green;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
}
.day{
    font-size: 1.5em;
}